:root {
    --bg-primary: #ffffff;
    --bg-secondary: #f5f5f5;
    --bg-tertiary: #eaeaea;

    --accent-primary: #111111;
    --accent-secondary: #333333;

    --text-primary: #111111;
    --text-secondary: #555555;
}
